<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- The official NuGet source -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <!-- Your custom NuGet source -->
    <!-- <add key="MyCustomSource" value="https://my.custom.source/v3/index.json" /> -->
  </packageSources>
  
  <!-- Optionally, you can disable any sources you don't want to use -->
  <disabledPackageSources>
    <!-- <add key="nuget.org" value="false" /> -->
  </disabledPackageSources>
</configuration>
